{# Resources/views/Default/index.html.twig #}
{# (c) 2016: 975l <contact@975l.com> #}
{# (c) 2016: Laurent Marquet <laurent.marquet@laposte.net> #}

<div class="alert alert-success text-center">
    The following {{ files|length }} xliff files have been created!<br/>
    <ul>
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>

    {% if backups|length > 0 %}
        The following {{ backups|length }} xliff files have been backed up!<br/>
        <ul>
        {% for backup in backups %}
            <li>{{ backup }}</li>
        {% endfor %}
        </ul>
    {% endif %}

</div>