{% extends '@c975LXliff/layout.html.twig' %}

{% block xliff_content %}
    <div>
        The following {{ files|length }} xliff files have been created!<br/>
        <ul>
            {% for file in files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}